@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --backgroud-color: hsl(231, 16%, 24%);
  --green-color: #5f9ea0;
  --secondary-color: #bbbbbb;
  --bg-color-of-lists-in-skills-section: hsl(229, 12%, 37%);
  --card-bg-color: #232432;

  --bg-color-for-form-inputs: #ffffff24;
  --border-color-for-form-inputs: #c4c4c44a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
